<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo project </title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
 <!-- header -->
<%- include('include/header') %>
 <!--  content -->
    <div class="container">
        <div class="logo">
           
                <img src="/image/download.png" alt="avatar">
        </div>
        <div class="info">
            <div class="heading">
                <h1 class="">welcome <%= data.user_name %></h1>
            </div>
            <div class="name">
                <h2 class=""><%= data.user_fullname %></h2>
            </div>
            <div class="age">
                <h2 class="">AGE:<%= data.user_age %></h2>
            </div>
            
        </div>

    </div>

    <!-- footer -->
    <%- include('include/footer') %>
</body>
</html>